.communicate-section {
    text-align: center;
    margin: 4em auto;
    padding: 4em;
    max-width: 800px;
    background: #FAF9F6; /* Off-White background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Fustat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  .communicate-section h2 {
    color: #2F4F4F; /* Dark Slate Gray */
    font-family: 'Playfair Display', serif; /* Elegant font */
    margin-bottom: 1em;
    font-size: 2.5em;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .form-group label {
    font-size: 1.2em;
    color: #2F4F4F; /* Dark Slate Gray */
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #E5E4E2; /* Platinum */
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Fustat', sans-serif;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 150px;
  }
  
  .submit-button {
    font-family: 'Fustat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 0.5em 1.5em;
    background: #046307; /* Emerald Green */
    color: #CBA135;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.25em;
    transition: background 0.3s, transform 0.3s;
    align-self: center;
  }
  
  .submit-button:hover {
    background: #034f04; /* Darker green on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
  }
  