
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #001F3F; /* Rich Navy */
    padding: 1em 2em;
    border-bottom: 1px solid #ddd; /* Light border for a subtle separation */
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo img {
    height: 75px; 
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
  
  .nav-links li {
    margin: 0 1em;
    position: relative;
  }
  
  .nav-links li a {
    color: #CBA135; 
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
  }
  
  .nav-links li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #CBA135; 
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-links li a:hover::before {
    visibility: visible;
    width: 100%;
  }
  
  .shopping-cart img {
    height: 24px; 
    width: 24px; 
  }
  