.App {
  text-align: center;
}

.card-container {
  padding: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  background: #001F3F; 
  color: #CBA135; 
  padding: 1em;
  text-align: center;
  border-top: 1px solid #ddd;
  position: relative;
  bottom: 0;
  width: 100%;
}
/* src/App.css */

.separator {
  border-top: 1px solid #001F3F; 
  margin: 2em 0; 
}

html {
  scroll-behavior: smooth;
}

.offset {
  padding-top: 80px; 
  margin-top: -80px; 
}

/* For WebKit typa browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #CBA135; 
  border-radius: 10px; 
  border: 3px solid #f1f1f1; 
}

/* that's 4 Firefox */
html {
  scrollbar-width: thin; 
  scrollbar-color: #CBA135 #f1f1f1; 
}


