/* src/index.css */
body {
  font-family: 'Fustat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background-color: #F5F5FF; /* Off-White */
  color: #2F4F4F; /* Dark Slate Gray */
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
